@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

:root{
  --main-color: #004643;
  --text-color: #fffffe;
  --style-color: #f9bc60;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .30);
}

.header{
  display: flex;  /* uso de flexbox*/
  background-color: var(--main-color);
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 5%;
  position: sticky; /* elemento pegado a la ventana */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

.header .logo{
  cursor: pointer;  /* al pasar el cursor por encima del item se muestra como posible su seleccion */
}

.header .logo img{
  height: 70px;
  width: auto;
}

.header .nav-links{
  list-style: none;
}

.header .nav-links li{
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover{
  transform: scale(1.1);
}

.header .nav-links a{
  font-size: 700;
  color: var(--text-color);
  text-decoration: none;
}

.header .nav-links li a:hover{
  font-weight: bold;
}

.header .btn button{
  font-weight: 700;
  color: var(--main-color);
  padding: 9px 25px;
  background-color: var(--text-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover{
  color: var(--style-color);
  transform: scale(1.1);
}

/*
.titulo-seccion {
    font-family: 'Playfair', serif;
    font-size: 3rem;
    color:#ff8e3c;
  }
  
h2{
    font-family: 'Oswald', sans-serif;
    color:#d9376e;
}

a {
    text-decoration: none; /* Eliminar subrayado 
    font-size: 1.2rem; /* Tamaño de fuente de 1.2rem 
  }
  
  body {
    background-color: #eff0f3; /* Color de fondo en código hexadecimal 
  }
  
section#education > h2{
    color:#d9376e;
}

#foto-perfil{
    width: 300px;
    border: 1pt solid black;
    padding: 1.1rem;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2px;
}
*/