@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    font-family: Arial, sans-serif;
}

.titulo-seccion {
    font-family: 'Georgia', serif;
  }
  
h2{
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none; /* Eliminar subrayado */
    font-size: 1.2rem; /* Tamaño de fuente de 1.2rem */
  }
  
  body {
    background-color: #f9f4ef; /* Color de fondo en código hexadecimal */
  }
  
section#education > h2{
    color:#001858;
}

#foto-perfil{
    width: 300px;
    border: 1pt solid black;
    padding: 1.1rem;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2px;
}
